<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ph.coreproc.android.devcup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="ph.coreproc.android.devcup.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--ActiveAndroid-->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="devcup.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="ph.coreproc.android.devcup.models.Contributor" />
        <!--ActiveAndroid-->

        <activity
            android:name="ph.coreproc.android.devcup.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ph.coreproc.android.devcup.activities.ExampleActivity"
            android:label="@string/activity_title_example"
            android:screenOrientation="portrait"/>

        <activity
            android:name="ph.coreproc.android.devcup.activities.LoginActivity"
            android:label="@string/activity_title_login"
            android:screenOrientation="portrait"/>

        <activity
            android:name="ph.coreproc.android.devcup.activities.CustomerHomeActivity"
            android:label="@string/activity_title_customer_home"
            android:screenOrientation="portrait"/>

        <activity
            android:name="ph.coreproc.android.devcup.activities.CreateRequestActivity"
            android:label="@string/activity_title_create_request"
            android:screenOrientation="portrait"/>

        <activity
            android:name="ph.coreproc.android.devcup.activities.WorkerHomeActivity"
            android:label="@string/activity_title_worker_home"
            android:screenOrientation="portrait"/>

        <activity
            android:name="ph.coreproc.android.devcup.activities.CreateProposalActivity"
            android:label="@string/activity_title_create_proposal"
            android:screenOrientation="portrait"/>

        <activity
            android:name="ph.coreproc.android.devcup.activities.ProposalListActivity"
            android:label="@string/activity_title_bids"
            android:screenOrientation="portrait"/>


        <activity
            android:name="ph.coreproc.android.devcup.activities.WorkerInfoActivity"
            android:label="@string/activity_title_worker_info"
            android:screenOrientation="portrait"/>

        <activity
            android:name="ph.coreproc.android.devcup.activities.CloseRequestActivity"
            android:label="@string/activity_title_close_request"
            android:screenOrientation="portrait"/>

        <activity
            android:name="ph.coreproc.android.devcup.activities.MyReviewsActivity"
            android:label="My Reviews"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
